
@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Your Password?</h2>

@using (Html.BeginForm("ForgotPassword", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.Raw(ViewBag.Message)
    <div class="form-horizontal">
        <h4>Enter Your UserName to Retrieve Your Password</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <label for="password" class="control-label col-md-2">User Name</label>
            <div class="col-md-10">
                <input type="text" name="username" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="g-recaptcha control-label" data-sitekey="6Led9wITAAAAAI9kDxYe27cbC6fnwGQUpZtwR2Jw"></div><br />
                <input type="submit" value="Submit" class="btn btn-info" />
            </div>
        </div>
    </div>      
}