
@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Your Password</h2>

@using (Html.BeginForm("ResetPassword", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.Raw(ViewBag.Result)
    <div class="form-group">
        <label for="password" class="control-label col-md-2">New Password</label><br />
        <input type="password" name="password" /><br />
        <label for="passwordConfirm" class="control-label col-md-2">Confirm New Password</label><br />
        <input type="password" name="passwordConfirm" /><br /><br />
        <input type="hidden" name="passwordToken" value="@ViewBag.PasswordToken" />
        <input type="hidden" name="userID" value="@ViewBag.UserID" />
        <input type="submit" value="Submit" />
    </div>
}

