
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm("ResetPassword", "Home"))
{
    <div class="form-group">
        <label for="password">Password</label><br />
        <input type="password" name="password" /><br />
        <label for="passwordConfirm">Confirm Password</label><br />
        <input type="password" name="passwordConfirm" /><br /><br />
        <input type="hidden" name="passwordToken" value="@ViewBag.PasswordToken" />
        <input type="hidden" name="userID" value="@ViewBag.UserID" />
        <input type="submit" value="Submit" />
    </div>
}
@Html.Raw(ViewBag.Result)
